
<h1>StaticPages#Classify</h1>
<p>Find me in app/views/static_pages/Classify.html.erb</p>

<body onload="getImage()">

<script>
	function getImage(){
		document.getElementById("C").src = "https://storage.googleapis.com/trashsort-258504-vcm/DATASET/O/O_1.jpg";
	}
	function postImage(category){


	}
</script>

<img id="C" src="" height="600"></img> 
<br>
<input type="button" class="btn gray btn-lg" value="Metal"></input>
<input type="button" class="btn lightblue btn-lg" value="Glass"></input>
<input type="button" class="btn blue btn-lg" value="Plastic"></input>
<input type="button" class="btn green btn-lg" value="Organic"></input>
<input type="button" class="btn brown btn-lg" value="Paper"></input>
<input type="button" class="btn red btn-lg" value="Hazardous"></input>
<input type="button" class="btn black btn-lg" value="Landfill"></input>
</body>