<%provide(:title, "Home")%>
<div class="jumbotron jumbotron-fluid" style="background-image: url(https://storage.googleapis.com/website_static_assets/cityscape.jpeg); margin-top:2%;">
	<div class="container-fluid"> 
		<div class="row container-fluid">
				<div class="col-3"></div>
				<div class="col-6">
					<h1 class="center" style="color:white;margin-top: 30%">
						It Sorts Trash
					</h1>
					<h2 class="center" style="color:white;margin-bottom: 20%">
						Really F**king Well
					</h2>
				</div>
				<div class="col-3"></div>
		</div>
	</div>
</div>
<div>
	<img src="https://storage.googleapis.com/website_static_assets/contamination-rates.jpg" 
		class= "rounded mx-auto d-block" style="max-width: 20%" >
	<div class="container-fluid">
		<div class="row container-fluid">
			<div class="col"></div>
			<div class="col-5 justify-content-center">
				<h3 class="center">
					We can't recycle
				</h3>
				<br>
				<p>We are throwing too much trash into blue bins and it's costing us.</p>
				<p>Each percentage point of contamination costs <a href="https://www.cbc.ca/news/technology/recycling-contamination-1.4606893">$600,000 to $1 million a year</a> just for the city of Toronto.</p>
				<p>Some waste looks like recycling, feels like recycling, are marked as recycling but are not. Confusing packaging and shifting rules makes correct trash sorting prohibitively difficult.</p>
				<p>Current solutions inevitably result in reduced participation rates.</p>
				<p>It's time to innovate.</p>
			</div>
			<div class="col"></div>
		</div>
	</div>
</div>	
<br>
<div class="jumbotron jumbotron-fluid" style="background-image: url(https://storage.googleapis.com/website_static_assets/cloud_computing.jpeg)">
	<br>	<br>	<br>	<br>	<br>
</div>
<br>
<div>
	<div class="container-fluid">
		<div class="row container-fluid">
			<div class="col"></div>
			<div class="col-5 justify-content-center">
				<h3 class="center">
					Introducing Project Trashsort
				</h3>
				<br>
				<p>Trashsort is a trashcan that uses machine learning to sort waste</p>
				<p>It uses inbuilt sensors to detect if waste has been deposited. Once detected, it takes a picture of the waste and querys a cloud hosted computer vision model. Trashsort uploads every single image into cloud storage to continuously improve the AI.</p>
				<p>If Trashsort experiences high latency or physical damage, it can also send error email to its owner, making maintenace simple. </p>
				<p>All cloud infrastructure is powered by Google Cloud Platform and is deployed at Google scale.</p>
			</div>
			<div class="col"></div>
		</div>
	</div>
</div>	
<div class="jumbotron jumbotron-fluid" style="background-image: url(https://storage.googleapis.com/website_static_assets/spiderweb.jpg)">
	<br>	<br>	<br>	<br>	<br>
</div>
<br>
<div>
	<div class="container-fluid">
		<div class="row container-fluid">
			<div class="col"></div>
			<div class="col-5 justify-content-center">
				<h3 class="center">
					Technology for a better world
				</h3>
				<br>
				<p>Trashsort makes recycling easy and efficient, conserving resources and energy required in the manufacturing process.</p>
				<p>Trashsort is very much a work in progress and actively being developed. Our world is facing unprecedented challenges- we must innovate.</p>
				<p><kbd style="font-family: 'Tomorrow', sans-serif;">#STEMFORGOOD</kbd> 
				</p>
			</div>
			<div class="col"></div>
		</div>
	</div>
</div>	

            