@import "bootstrap";

body {
  padding-top: 3%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.center h1 {
}
.jumbotron{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 5%;
}

h1{
  font-weight: bold;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
  font-style: italic;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

button{
    padding: 25px;
}
/* colors */
.green {background-color: #4CAF50; color: white;} /* Green */
.blue {background-color: #008CBA; color: white;} /* Blue */
.red {background-color: #f44336; color: white;} /* Red */
.gray {background-color: #e7e7e7; color: black;} /* Gray */
.black {background-color: #555555; color: white;} /* Black */
.brown {background-color: #cc9900; color: white;} /* Brown */
.lightblue{background-color: #ccffff; color: grey;} 
